html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    background: linear-gradient(to right, blue, white);
    text-align: center;
}

.ph {
    display: flex;
    justify-content: center;
}
img {
    width: 30%;
}

.icon {
    text-align: center;
    margin-top: 25px;
}


.span {
    text-decoration: none;
}
.edad {
    text-decoration: underline;
    margin-top: 100px;
}